<a href="https://colab.research.google.com/github/ralsouza/study_case_eda_bike_taxi_nyc/blob/master/notebooks/01_eda_bike_taxis_nyc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Import Libraries

In [0]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

# 2. Load Data

In [0]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/04_study_case_eda_bike_taxi_nyc/data/taxis_bikes_nycity.csv')

# 3. Check Loaded Data

In [3]:
# Check the type of object
type(data)

pandas.core.frame.DataFrame

In [4]:
# Check the first 10 rows
# Data = Date of the trip
# Distancia = Travelled distance
# Tempo = Elapsed time

data.head(10)

      Data  Distancia    Tempo
0   8/2/15       1.70      NaN
1   8/3/15       1.40      NaN
2   8/4/15       2.10      NaN
3   8/6/15       2.38      NaN
4   8/7/15       2.30      NaN
5   8/8/15       3.40      NaN
6   8/9/15       2.50      NaN
7  8/10/15       3.36  0:28:37
8  8/11/15       1.67  0:13:07
9  8/12/15       1.42  0:10:35

In [6]:
# Check the data types
data.dtypes

Data          object
Distancia    float64
Tempo         object
dtype: object

In [0]:
# Change the data type of Data column
data['Data'] = pd.to_datetime(data.Data)

In [10]:
# Check the data types again
# Changed to datetime64[ns]
data.dtypes

Data         datetime64[ns]
Distancia           float64
Tempo                object
dtype: object

In [11]:
# Looks OK
data.head(10)

        Data  Distancia    Tempo
0 2015-08-02       1.70      NaN
1 2015-08-03       1.40      NaN
2 2015-08-04       2.10      NaN
3 2015-08-06       2.38      NaN
4 2015-08-07       2.30      NaN
5 2015-08-08       3.40      NaN
6 2015-08-09       2.50      NaN
7 2015-08-10       3.36  0:28:37
8 2015-08-11       1.67  0:13:07
9 2015-08-12       1.42  0:10:35

In [7]:
# Check column names
data.columns

Index(['Data', 'Distancia', 'Tempo'], dtype='object')

In [8]:
# Check the index
data.index

RangeIndex(start=0, stop=81, step=1)